{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}

	<section class="container">

		{% for alert in app.flashes('emailreset-incorrect') %}
			<div class="alert alert-danger" role="alert">
				{{ alert }}
			</div>

		{% endfor %}

		{% for alert in app.flashes('emailreset-success') %}
			<div class="alert alert-success" role="alert">
				{{ alert }}
			</div>

		{% endfor %}

		<div class="container-fluid">
			<div class="row justify-content-center">

				<form method="post">
					<div class="loginBox">

						<h1>Mot de passe oublié</h1>
						<label class="sr-only" for="email">E-mail</label>
						<input
						id="email" name="email" placeholder="email" required type="email">
						{# <input type="hidden" name="token" value="{{ token }}"> #}

						<button type="submit">
							Récuperer mon mot de passe
						</button>
					</div>
				</form>
			</div>
		</div>

	</section>

{% endblock %}
