{% extends 'base.html.twig' %}

{% block title %}Mon Compte - Bon Temps Roulé
{% endblock %}

{% block body %}

	<section class="container-fluid">
		<div class="row justify-content-center mt-5">
            <div class="paraBox">
                <div>
                    <h5><a href="{{ path('commande')}}">Mes commandes</a></h5>
                    <p>Retrouve l'ensemble de tes commandes ici.</p>
                </div>
                <div class="separator mt-5">
                </div>
                <div class="mt-5">
                    <h5><a href="{{ path('profil')}}">Mes paramètres</a></h5>
                    <p>Modifier tes  informations, ton e-mail et ton mot de passe.</p>
                    
                </div>
            </div>
		</div>
	</section>

	{# <section class="container-fluid border-top mt-3 p-3">
	      <div class="row justify-content-center">
	          <h2>Aide et informations</h2>
	      </div>
	      <div class="row justify-content-center">
	          <div class="col-md-3 mt-3">
	              <ul class="list-unstyled">
	                  <li>
	                      <a href="https://www.facebook.com/magalipraticienne">Rejoins nous sur Facebook</a>
	                  </li>
	              </ul>
	          </div>
	          <div class="col-md-3 mt-3">
	              <ul class="list-unstyled">
	                  <li>Mode de paiement
	                  </li>
	              </ul>
	          </div>
	      </div>
	  </section> #}

{% endblock %}
